<div style="display: flex; margin: 10px;">
    <label for="pokemonName">Name:</label>
    <input id="pokemonName" type="text" [formControl]="pokemonName">
    <button mat-button (click)="showPokemon()">search</button>
</div>
<div *ngIf="pokeResponse">  
    <mat-card style="color: color;">   
        <h1>{{pokeResponse.name}}</h1>
        <img
        width="100"
        alt="pokemon img"
        src={{pokeResponse.sprites.front_default}}
        />
        <p>id: {{pokeResponse.id}}</p>
        <p>xp: {{pokeResponse.base_experience}}</p>
        <p>weight: {{pokeResponse.weight}}</p>
        <div style="justify-content: center;">
            <p>types:</p>
            <p *ngFor="let type of pokeResponse.types">{{type.type.name}}</p>
        </div>
        
    </mat-card> 
</div>


